* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: darkred;
}

.maior::first-letter {
    font-size: 1.5em;
}

#cabecalho {
    background-color: #FAF0E6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

#apresentacao {
    display: flex;
    flex-direction: row;
}

.d {
    color: red;
    font-size: 2em;
}
.c {
    color: blue;
    font-size: 1.5em;
}

.a {
    color: black;
    font-size: 2em;
}

.links {
    align-content: center;
}

.foto {
    flex-grow: 1;
    border: 1px solid black;
}

.ola {
    flex-grow: 2;
    border: 1px solid black;
}
